html{
    font-size: 22px;
    
    @include breakpoint(phone-l) {
        font-size: 22px;
    }
    @include breakpoint(phone-m) {
        font-size: 18px;
    }
    @include breakpoint(phone-m) {
        font-size: 18px;
    }
    @include breakpoint(phone-sm) {
        font-size: 16px;
    }
    @include breakpoint(phone-s) {
        font-size: 14px;
    }
}
body{
    font-family: 'Microsoft JhengHei','Courier New', Courier, monospace;
}
.container [class*=row-] {
    max-width: 1440px;
}
.bg-white{
    background-color: #FAFAFA !important;
}

// font set
section{
    .mobile-section-bg{
        display: none;
    }
    h1, h2, h3, p{
        padding: 8px 0;
        margin: 0;
    }
    p{
        font-size: $f-size-p;
        letter-spacing: $letter_spacing_1;
        font-weight: 400;
        line-height: 2rem;
        color:$white-1;
    }
    h1{
        font-size: $f-size-h1;
        font-weight: 400;
        letter-spacing: .2rem;
        color:$gray-1;
    }
    h2{
        font-size: $f-size-h2;
        letter-spacing: .16rem;
        color: $white-1;
        span{
            color: $blue-1;
        }
    }
    h3{
        font-size: $f-size-h3;
        color:$black-1;
        font-weight: 500;
    }
    &.section-1{
        h1{
            font-size: $f-size-s1-h1;
            font-weight: 500;
            text-shadow: 0 2px 6px $blue-1;
            color:#fff;
            padding-bottom: .7rem;
        }
        p{
            font-size: $f-size-s1-p;
            text-shadow: 0 2px 5px $blue-1;
        }
        .mobile-bg{
            display: none;
        }
    }
    &.section-3{
        .introBox{
            padding-right:$padding-1;
            padding-left:$padding-1;
            h3{
                padding: 12px 0;
                margin-top:26px;
            }
            p{
                font-size: $f-size-p *.8;
                line-height: 1.2rem;
                color: $gray-2;
                font-weight: 500;
            }
        }
    }
    &.section-4{
        h1{
            color:$white-2;
        }
        .introBox{
            h3{
                color:$blue-2;
                font-size: 1.2rem;
            }
            p{
                color:$gray-2;
                font-size: $f-size-p *.8;
                line-height: 1.333rem;
            }
        }
    }
    &.section-5{
        h2{
            color:$blue-3;
        }
        p{
            color:$blue-2;
            line-height: 1.5rem;
            font-size: .95rem;
            font-weight: 500;
        }
    }

    @include breakpoint(pad-m){
        &.section-5{
            p{
                font-size: .85rem;
            }
        }
    }
    @include breakpoint(pad-s){
        &.section-3{
           .introBox{
               h3{
                   margin-top: 15px;
               }
           }
        }
    }
    @include breakpoint(phone-l) {
        &.section-1{
            h1{
                font-size: $f-size-phone-s1-h1;
                font-weight: 600;
                padding-bottom: 3rem;
            }
            p{
                padding-left: 3rem;
                padding-right: 3rem;
            }
        }
    }
}

header{
    width: 100%;
    background: #F8F8F8;
    text-align: center;
    position: fixed;
    z-index:999;
    section{
        padding: 0;
    }
    a{
        font-size: $f-size-a;
        color:$blue-1 !important;
        padding: 0 30px;
        height: 80px;
        line-height: 80px;
        font-family: 'open sans';
    }
    @include breakpoint(pad-s){
        .navbar{
            .navbar__toggler{
                top:20px;
                right:20px;
                color: #2F80AF;
                background: #DCDDDD;
                border-radius: 6px;
                z-index: 999;
            }
            .navbar__body{
                
            }
            .navbar__nav{
                padding-left: 0;
                transition: all .3s ease-out;
                position: absolute;
                z-index: 99;
                top:80px;
                opacity: 0;
                height: 0;
                visibility:visible;
                overflow: hidden;
                .navbar__item a{
                    width: 100%;
                    text-align: center;
                }
            }
            .navbar__toggler--active + .navbar__nav{
                visibility:visible;
                opacity: 1;
                height: 330px;
            }
        }
    }
    @include breakpoint(phone-l){
        .navbar{
            .navbar__brand{
                text-align: left;
                img{
                    width: auto;
                }
            }
            .navbar__toggler{
                top:20px;
                right:20px;

            }
            .navbar__body{
                
            }
            .navbar__nav{
                top:80px;
                
                .navbar__item{
                    a{
                        // font-size: 16px;
                        line-height: 40px;
                        height:40px;
                    }
                }
            }
            
            .navbar__toggler--active + .navbar__nav{
                visibility:visible;
                opacity: 1;
                height: 250px;
            }
        }
    }
}
main{
    position: relative;
    section{
        padding: 80px 100px;
        position: relative;
        text-align: center;
    }
}

footer{
    p{
        color: $white-1;
        padding: 0;
        margin: 0;
        opacity: .9;
        font-size: .8rem;
        line-height: 1.3rem;
    }
    section{
        padding: 0;
    }
    background: $blue-1;
    background-image: url('../images/footer_bg2.png');

    @include breakpoint(phone-m) {
       p{
        // font-size: 10px;
       }
    }
}
img{
    width: 100%;
}