html{
    font-size: 14px;
}
body{
    font-family: 'Microsoft JhengHei','Courier New', Courier, monospace;
}
.container [class*=row-] {
    max-width: 1440px;
}
header{
    width: 100%;
    background: #F8F8F8;
    text-align: center;
    position: fixed;
    z-index:999;
    section{
        padding: 0;
    }

    @include breakpoint(pad-s){
        .navbar{
            .navbar__toggler{
                top:20px;
                right:20px;
                color: #2F80AF;
                background: #DCDDDD;
                border-radius: 6px;
                z-index: 999;
            }
            .navbar__body{
                
            }
            .navbar__nav{
                padding-left: 0;
                transition: all .3s ease-out;
                position: absolute;
                z-index: 99;
                top:80px;
                opacity: 0;
                height: 0;
                visibility:visible;
                overflow: hidden;
                .navbar__item a{
                    width: 100%;
                    text-align: center;
                }
            }
            .navbar__toggler--active + .navbar__nav{
                visibility:visible;
                opacity: 1;
                height: 330px;
            }
        }
    }
    @include breakpoint(phone-l){
        .navbar{
            .navbar__brand{
                text-align: left;
                img{
                    width: auto;
                }
            }
            .navbar__toggler{
                top:20px;
                right:20px;

            }
            .navbar__body{
                
            }
            .navbar__nav{
                top:80px;
                
                .navbar__item{
                    a{
                        font-size: 16px;
                        line-height: 40px;
                        height:40px;
                    }
                }
            }
            
            .navbar__toggler--active + .navbar__nav{
                visibility:visible;
                opacity: 1;
                height: 250px;
            }
        }
    }
}
main{
    position: relative;
    p{
        font-size: $content_fontsize_1;
        font-weight: 500;
    }
}
footer{
    p{
        color: #fff;
        padding: 0;
        margin: 0;
        font-size: 14px;
        opacity: .9;
        font-weight:500;
    }
    section{
        padding: 0;
    }
    background: #2278AB;
    background-image: url('../images/footer_bg2.png');

    @include breakpoint(phone-m) {
       p{
        font-size: 10px;
       }
    }
}
img{
    width: 100%;
}

main{
    section{
        padding: 80px 100px;
        position: relative;
        text-align: center;
        .section-h1, .section-h2, .section-p1{
            opacity: 0;
        }
        .section-h1{
            color: #AAAAAA;
            font-size: $title_fontsize_1;
            font-weight: 300;
            letter-spacing: $letter_spacing_1;
        }
        .section-h2{
            color: #fff;
            font-size: $title_fontsize_2;
            font-weight: 900;
            margin: 0;
            letter-spacing: $letter_spacing_2;
            animation-delay: $animated_delay_1;
            span{
                color: #2278AB;
            }
        }
        .section-p1{
            font-size: $content_fontsize_1;
            letter-spacing: $letter_spacing_2;
            color:#fff;
            font-weight: 500;
            padding-top:20px;
            animation-delay: $animated_delay_2;
        }
        &.section-1{
            padding: 0;
            height: auto;
            z-index: 3;
            animation-duration: .3s;
        }
        &.section-2{
            @include bg('../images/crop_main1.png');
            background-position-y: bottom;
            z-index: 2;
            height: 780px;
            padding-top: 340px;
            margin-top: -260px;
        }
        &.section-3{
            background: #FAFAFA;
            // padding: 120px 60px;
            padding-top: 10px;
            z-index: 3;
        }
        &.section-4{
            @include bg('../images/crop_main2.png');
            background-position-x: right;
            background-position-y: top;
            z-index: 2;
            text-align: left;
            .intro-box > div{
                p{
                    font-size: 18px;
                }
            }
        }
        &.section-5{
            @include bg('../images/footer_bg1.png');
            padding-top: 60px;
            padding-bottom:60px;
            .section-h2{
                color: #2278AB;
            }
            .intro-box{
                font-size: 18px;
                margin-bottom: 20px;
            }
        }
    
        @include breakpoint(pad-m) {
            padding: 60px 30px;
            .section-h1{
                font-size: 22px;
                letter-spacing: .08em;
            }
            .section-h2{
                font-size: 32px;
                letter-spacing: .1em;
            }
            .section-p1{
                font-size: 18px;
                letter-spacing: .1em;
            }
            &.section-1{
                height: 900px;
                @include bg('../images/header_bg.png');
                background-position-x: -300px;
                .section-1-bg{
                    display: none;
                }
            }
            &.section-2{
                height: 700px;
                padding-top: 220px;
                margin-top: -140px;
            }
            &.section-3{
    
            }
            &.section-4{
                .intro-box > div{
                    margin: 0px !important;
    
                    .cover{
                        width: 38%;
                        padding: 0;
                    }
                    .content{
                        width:62%;
                        padding-left: 10px;
                        padding-top: 10px;
                    }
                    p{
                        font-size: 15px;
                    }
                    h3{
                        font-size: 18px;
                        margin-bottom: 12px;
                    }
                }
            }
            &.section-5{
                
            }
        }
    
        @include breakpoint(pad-m) {
            padding: 60px 40px;
            .section-h1{
                font-size: 22px;
                letter-spacing: .08em;
            }
            .section-h2{
                font-size: 32px;
                letter-spacing: .1em;
                margin-bottom:20px;
            }
            .section-p1{
                font-size: 18px;
                letter-spacing: .1em;
            }
            &.section-1{
                height: 900px;
                @include bg('../images/header_bg.png');
                background-position-x: -300px;
                .section-1-bg{
                    display: none;
                }
            }
            &.section-2{
                height: 700px;
                padding-top: 220px;
                margin-top: -140px;
            }
            &.section-3{
            }
            &.section-4{
            }
            &.section-5{
            }
        }
    
        @include breakpoint(pad-s) {
            padding: 60px 40px;
            p{
                font-size: 18px;
            }
            &.section-3{
                .introBox{
                    p{
                        padding: 0;
                    }
                }
            }
            &.section-4{
                .intro-box > div{
                    .cover{
                        width: 38%;
                    }
                    .content{
                        width:62%;
                        padding: 20px;
                        h3{
                            font-size:22px;
                            padding-bottom: 10px;
                        }
                        p{
                            font-size:18px;
                        }
                    }
                }
            }
            &.section-5{
                .album, .slideshow-container{
                    width: 100%;
                }
                .intro-box{
                    text-align: center;
                    p{
                        font-size: 18px;
                    }
                }
                .contact-info{
                    margin-top: 20px;
                    margin-left:25%;
                }
            }
        }
    
        @include breakpoint(phone-l) {
            padding: 20px 20px;
    
            .section-h1{
                font-size: 22px;
                letter-spacing: .08em;
            }
    
            .section-h2{
                font-size: 32px;
                letter-spacing: .1em;
            }
    
            .section-p1{
                font-size: 18px;
                letter-spacing: .1em;
            }
    
            &.section-1{
                height: 850px;
                background-position-x: -400px;
                .info{
                    padding: 100px 40px;
                    padding-top: 200px;

                    h1{
                        font-size: 44px;
                    }   
                    p{
                        font-size: 22px;
                    }
                }
            }
    
            &.section-2{
                height: 600px;
                padding-top: 180px;
                margin-top: -140px;
                h1{
                    
                }
            }
    
            &.section-3{
                .introBox{
                    padding: 20px 80px !important;
                    h3{
                        font-size: 24px;
                        font-weight: 500;
                    }
                    p{
                        font-size: 18px;
                    }
                }
            }
            &.section-4{
                padding:40px 30px;
                .intro-box{
                    margin-bottom: 20px;
                    padding: 15px;
                    > div{
                        .cover{
                            height: 200px;
                            img{
                                height: 100%;
                                margin: 0;
                                width: auto;
                            }
                        }
                        .content{
                            h3{
                                font-size: 18px;
        
                            }
                            p{
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
            &.section-5{
                .album, .slideshow-container{
                    height: 240px;
                }
                .contact-info{
                    margin-left:20%;
                }
            }
        }
        @include breakpoint(phone-m) {
            padding: 20px 20px;
            p{
                font-size: 16px;
            }
            .section-h1{
                font-size: 22px;
                letter-spacing: .08em;
            }
    
            .section-h2{
                font-size: 32px;
                letter-spacing: .1em;
                margin-bottom: 10px;
            }
    
            .section-p1{
                font-size: 16px;
                letter-spacing: .1em;
            }
    
            &.section-1{
                height: 750px;
                background-position-x: -400px;
                .info{
                    padding: 100px 30px;
                    padding-top: 180px;

                    h1{
                        font-size: 2em;
                    }   
                    p{
                        font-size: 19px;
                    }
                }
            }
    
            &.section-2{
                height: 600px;
                padding-top: 180px;
                margin-top: -140px;
                h1{
                    
                }
            }
    
            &.section-3{
                .introBox{
                    padding: 20px 30px !important;
                    h3{
                        font-size: 22px;
                        font-weight: 500;
                    }
                    p{
                        font-size: 16px;
                    }
                }
            }
            &.section-4{
                padding:40px 20px;
                .intro-box{
                    margin-bottom: 20px;
                    padding: 10px;
                    > div{
                        .cover{
                            height: 160px;
                            img{
                                height: 100%;
                                margin: 0;
                            }
                        }
                        .content{
                            padding: 10px;
                            h3{
                                font-size: 16px;
                                padding-bottom: 0;
                                margin-bottom: 15px;
                            }
                            p{
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
            &.section-5{
                padding-top: 30px;
                padding-bottom: 30px;
                .contact-info{
                    margin-left:17%;
                }
                .intro-box{
                    .cover, .content{
                        display: inline-block;
                        float: left;
                        height: 40px;
                        line-height: 40px;
                        img{
                            height: 35px;
                        }
                    }
                    p{
                        font-size: 14px;
                    }
                }
            }
        }
        @include breakpoint(phone-sm) {
            padding: 20px 20px;
    
            &.section-1{
                height: 750px;
                background-position-x: -400px;
                .info{
                    padding: 100px 30px;
                    padding-top: 180px;

                    h1{
                        font-size: 1.8em;
                    }   
                    p{
                        font-size: 18px;
                    }
                }
            }
    
            &.section-2{
                height: 600px;
                padding-top: 180px;
                margin-top: -140px;
                h1{
                    
                }
            }
    
            &.section-3{
                .introBox{
                    padding: 20px 30px !important;
                    h3{
                        font-size: 22px;
                        font-weight: 500;
                    }
                    p{
                        font-size: 16px;
                        padding: 0 20px;
                    }
                }
            }
            &.section-4{
                .intro-box{
                    > div{
                        .cover{
                            height: 170px;
                        }
                    }
                }
            }
            &.section-5{
                padding-top: 30px;
                padding-bottom: 30px;
                .contact-info{
                    margin-left:17%;
                }
                .intro-box{
                    .cover, .content{
                        display: inline-block;
                        float: left;
                        height: 40px;
                        line-height: 40px;
                        img{
                            height: 35px;
                        }
                    }
                    p{
                        font-size: 14px;
                    }
                }
            }
        }
    }
}