.navbar {
    @include breakpoint(phone-s) {
        .navbar__head {
            padding: 0px;
        }
        .navbar__brand {
            padding: 0px;
        }
    }
}

main section {
    @include breakpoint(pad-m) {
        padding: 60px 30px;
        &.section-1{
            height: 900px;
            @include bg('../images/header_bg.png');
            background-position-x: -300px;
            .section-1-bg{
                display: none;
            }
        }
        &.section-4{
            .introBox > div{
                margin: 0px !important;
                
                .cover{
                    width: 38%;
                    padding: 0;
                    overflow: hidden;
                    height: 200px;
                    img{
                        height: 100%;
                        width:auto;
                        margin: 0;
                    }
                }
                .content{
                    width:62%;
                    padding-left: 10px;
                    padding-top: 10px;
                }
            }
        }
    }
    @include breakpoint(pad-s) {
        padding: 60px 30px;
        &.section-1{
            // height: 900px;
            // background-position-x: -300px;
            .section-1-bg{
                display: none;
            }
        }
        
        &.section-3{
            .introBox{
                padding-right:12px !important;
                padding-left: 12px !important;
            }
        }
        &.section-4{
            .introBox{
                margin-bottom: 20px;
            }
            .introBox > div{
                .cover{

                    height: 200px;
                    img{
                        height: auto;
                        width: 100%;
                        margin: -1px;
                    }
                }
                .content{
                    padding-left: 20px;
                    padding-right: 20px;
                }
                h3{
                    font-size: 1.08rem;
                }
            }
        }
        &.section-5{
            .album, .slideshow-container{
                width: 100%;
            }
            .introBox{
                text-align: center;
            }
            .contact-info{
                margin-top: 20px;
                padding-left:25% !important;
            }
        }
    }

    @include breakpoint(phone-l) {
        padding:0;
        &.section-1{
            height: auto;
            .section-1-bg{
                display: block;
            }
            background-image: none;
            height: auto;
            picture {
                display: block;
                source, img{
                    width: 100%;
                    display: block;
                }
            }
        }
        &.section-2{
            padding-top: 0;
            padding-bottom: 0;
            margin: 0;
            margin-top: -2px;
            height: auto;
            background-image: none;
            .mobile-section-bg{
                display: block;
                position: relative;
                top: 0;
                left: 0;
            }
            .content{
                position: absolute;
                top: 0;
                left: 0;
                padding-top: 60px;
            }
        }
        &.section-3{
            padding: 3rem 4rem;
            margin-top: 0;
            .section-h2{
                margin-bottom: 2rem;
            }
            .introBox{
                p{
                    padding: 0 2rem;
                    padding-bottom: 3rem;
                }
            }
        }
        &.section-4{
            @include bg('../images/mobile/main03.png');
            margin-top: -3rem;
            padding-left: 2.5rem;
            padding-right: 2.5rem;
            .section-p1{
                padding-left: .8rem;
                padding-right: .8rem;
            }
            .introBox{
                margin-bottom: 20px;
                padding: 15px;
                > div{
                    .cover{
                        height: 200px;
                        img{
                            height: 100%;
                            margin: 0;
                            width: auto;
                        }
                    }
                    h3{
                        font-size: .9rem;
                    }
                    p{
                        font-size: .7rem;
                    }
                }
                
            }
        }
    }
    @include breakpoint(phone-m) {
        padding-left:0;
        padding-right:0;
        &.section-1{
            padding-top:80px;
            .info{
                padding-top: 60px;
                p{
                    padding-left: 1rem;
                    padding-right: 1rem;
                }
            }
        }
        &.section-2{
            padding-top: 0;
            margin-top:-1px;
            .content{
                padding-top: 40px;
            }
        }
        &.section-3{
            .introBox{
                h3{
                    font-size: 1rem;
                }
            }
        }
        &.section-4{
            // margin-top: -3rem;
            padding-left: 1.6rem;
            padding-right: 1.6rem;
            
            .introBox > div{
                .content{
                    padding: .7rem;
                }
                .cover{
                    height: 10rem;
                }
                // h3{
                //     font-size: .8rem;
                // }
            }
        }
        &.section-5{
            .contact-info{
                padding-left: 15% !important;
            }
           
            .album{
                // max-width: 800px;
                height: 13rem;
                
                img {
                    height: 100%;
                }
                .slideshow-container{
                    height: 13rem;
                }
            }
        }
    }
    @include breakpoint(phone-s) {
        &.section-1{
            .info{
                padding-top: 70px;
                h1{
                    padding-bottom:2rem;
                }
                p{
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }
        &.section-2{
            .content{
                padding-top: 20px;
            }
        }
    }
}