// slideShouw

.album{
    max-width: 800px;
    height: 300px;
    overflow: hidden;
    position: relative;
    
    img {
        vertical-align: middle;
        height: 110%;
        width: auto;
    }

}
.mySlides {
    visibility: hidden;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 1s ease-out;
    &.active{
        transition-delay: 2s;
        transition: opacity 2s ease-out;
        visibility: visible;
        opacity: 1;
    }
}

/* Slideshow container */
.slideshow-container {
    position: relative;
    margin: auto;
    max-width: 800px;
    height: 300px;
    right: 0;
    background: rgba(255, 255, 255, .4);
}

/* Next & previous buttons */
.prev, .next {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: rgba(34, 121, 171, 0.632);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.prev{
    left:0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
//   background-color: rgba(0,0,0,0.8);
    color: rgba(34, 121, 171, 0.3);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
.point{
    position: absolute;
    bottom: 10px;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
}


/* The dots/bullets/indicators */
.dot {
cursor: pointer;
height: 10px;
width: 10px;
margin: 0 4px;
background-color: rgba(255,255,255,.8);
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}

.active, .dot:hover {
background-color: #2278AB;
}
  

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}