.navbar {
    height: auto;
    .navbar__brand {
        img {
            height: 80px;
            padding: 22px 10px;
        }
    }

    .navbar__body {
        line-height: auto;
    }

    .navbar__nav {
        padding-left: 0px;
        float: left;
    }
}

main {
    section {
        .section-h1,.section-h2,.section-p1 {
            opacity: 0;
        }
        .section-h2 {
            animation-delay: $animated_delay_1;
        }
        .section-p1 {
            animation-delay: $animated_delay_2;
        }

        &.section-1 {
            padding: 0;
            height: auto;
            z-index: 3;
            animation-duration: .3s;
        }

        &.section-2 {
            @include bg('../images/crop_main1.png');
            background-position-y: bottom;
            z-index: 2;
            height: 840px;
            padding-top: 360px;
            margin-top: -260px;
        }

        &.section-3 {
            background: #FAFAFA;
            padding-top: 10px;
            padding-bottom:60px;
        }

        &.section-4 {
            @include bg('../images/crop_main2.png');
            background-position-x: right;
            background-position-y: top;
            padding-top: 110px;
            padding-bottom:110px;
        }

        &.section-5 {
            @include bg('../images/footer_bg1.png');
            padding-top: 90px;
            padding-bottom:90px;
            .header{
                margin-bottom: 20px;
            }
            .introBox {
                margin-bottom: 20px;
            }
        }
    }

    .section-1 {
        .info {
            position: absolute;
            @include center;

            h1 {
                animation-delay: .2s;
                animation-duration: 1.2s;
            }

            p {
                animation-delay: .4s;
                animation-duration: 1.5s;
            }

            .s1-icon {
                width: 50px;
                padding-top: 60px;
                opacity: 0;
                animation-delay: 1s;
                animation-duration: 1.5s;
                cursor: pointer;
            }
        }
    }

    .section-3 {
        .introBox {
            opacity: 0;
            padding-right: 28px !important;
            padding-left: 28px !important;

            &:nth-child(2) {
                animation-delay: .3s;
                animation-duration: 1s;
            }

            &:nth-child(3) {
                animation-delay: .7s;
                animation-duration: 1s;
            }

            &:nth-child(4) {
                animation-delay: 1.1s;
                animation-duration: 1s;
            }
        }
    }

    .section-4 {
        .intro {
            margin-bottom: 30px;
        }

        .introBox {
            opacity: 0;
            > div{
                box-shadow: 4px 4px 26px $blue-3;
            }
            &:nth-child(2) {
                animation-delay: .2s;
            }

            &:nth-child(3) {
                animation-delay: .4s;
            }

            &:nth-child(4) {
                animation-delay: .6s;
            }

            &:nth-child(5) {
                animation-delay: .8s;
            }

            > div{
                margin: 0px !important;

                img {
                    width: 100%;
                    margin: -1px;
                }

                .cover {
                    display: inline;
                    width: 40%;
                    padding: 0;
                    overflow: hidden;
                }

                .content {
                    display: inline;
                    width: 60%;
                    padding-left: 20px;
                    padding-top: 20px;
                }
            }
        }
        p {
            animation-delay: .8s;
        }
    }

    .section-5 {
        .introBox {
            margin-bottom: 10px;

            .cover,
            .content {
                display: inline-block;
                float: left;
                height: 60px;
                line-height: 60px;
            }

            .cover {
                margin-right: 30px;
                text-align: left;

                img {
                    width: auto;
                    height: 50px;
                }
            }

            .content {
                padding-top: 2px;

                p {
                    text-align: left;
                    padding: 0;
                    margin: 0;
                    // color: #2D2D39;
                }
            }

            &:nth-child(1) {
                opacity: 0;
                animation-delay: .4s;
            }

            &:nth-child(2) {
                opacity: 0;
                animation-delay: .7s;
            }

            &:nth-child(3) {
                opacity: 0;
                animation-delay: 1s;
            }
        }

        .album {
            animation-delay: 1.3s;
        }
    }

}