@mixin center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

$animateTime: 1s;

$f-size-h1:1rem;
$f-size-h2:1.72rem;
$f-size-h3:1.2rem;
$f-size-p:1rem;
$f-size-a:.96rem;
$f-size-s1-h1:2.8rem;
$f-size-s1-p:1rem;

$f-size-phone-s1-h1:2rem;

$blue-1: #2278AB;
$blue-2: #2D2D39;
$blue-3: #023654;
$white-1:#EFEFEF;
$white-2:#CCCCCC;
$gray-1: #AAAAAA;
$gray-2:#767370;
$black-1:#001623;

$padding-1: 10px;

$letter_spacing_1: .1rem;
$letter_spacing_2: .1rem;
$letter_spacing_3: .1rem;

$point-pc-l: 1920px;
$point-pc-m: 1440px;
$point-pc-sm: 1366px;
$point-pc-s: 1280px;

$point-pad-m: 1024px;
$point-pad-s: 768px;

$point-phone-l: 576px;
$point-phone-m: 426px;
$point-phone-sm: 376px;
$point-phone-s: 320px;

$animated_delay_1: .4s;
$animated_delay_2: .8s;
$animated_delay_3: 1.2s;

@mixin breakpoint($point){
    @if $point == pc-l{
        @media only screen and (max-width: $point-pc-l){
            @content;
        }
    }
    
    @else if $point == pc-m{
        @media only screen and (max-width: $point-pc-m){
            @content;
        }
    }

    @else if $point == pc-sm{
        @media only screen and (max-width: $point-pc-sm){
            @content;
        }
    }

    @else if $point == pc-s{
        @media only screen and (max-width: $point-pc-s){
            @content;
        }
    }

    @else if $point == pad-m{
        @media only screen and (max-width: $point-pad-m){
            @content;
        }
    }

    @else if $point == pad-s{
        @media only screen and (max-width: $point-pad-s){
            @content;
        }
    }

    @else if $point == phone-l{
        @media only screen and (max-width: $point-phone-l){
            @content;
        }
    }

    @else if $point == phone-m{
        @media only screen and (max-width: $point-phone-m){
            @content;
        }
    }
    @else if $point == phone-sm{
        @media only screen and (max-width: $point-phone-sm){
            @content;
        }
    }

    @else if $point == phone-s{
        @media only screen and (max-width: $point-phone-s){
            @content;
        }
    }
}
@mixin bg($path){
    background-image: url($path);
    background-repeat: no-repeat;
    background-size: cover;
}


@mixin section1($a, $b, $c, $d, $e, $f){
    .section-1{
        overflow: hidden;
        padding: 0px !important;
        background-image: url(../images/header_bg.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        height:$a;
        .info{
            padding: 20px;
            h1{
                font-size: $b;
            }
            p{
                padding: $cx;
            }
            width: 100%;
        }
        img{
            height-min: $d;
            width: auto;
            position: relative;
            left:$e;
            display: $f;
        }
    }
}

@mixin section4($a, $b, $c) {
    .section-4{
        .introBox{
            .cover{
                width: $a;
            }
            .content{
                width: $b;
            }
            margin-bottom: $c;
        }
    }
}