html {
  font-size: 22px; }
  @media only screen and (max-width: 576px) {
    html {
      font-size: 22px; } }
  @media only screen and (max-width: 426px) {
    html {
      font-size: 18px; } }
  @media only screen and (max-width: 426px) {
    html {
      font-size: 18px; } }
  @media only screen and (max-width: 376px) {
    html {
      font-size: 16px; } }
  @media only screen and (max-width: 320px) {
    html {
      font-size: 14px; } }

body {
  font-family: 'Microsoft JhengHei','Courier New', Courier, monospace; }

.container [class*=row-] {
  max-width: 1440px; }

.bg-white {
  background-color: #FAFAFA !important; }

section .mobile-section-bg {
  display: none; }
section h1, section h2, section h3, section p {
  padding: 8px 0;
  margin: 0; }
section p {
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
  line-height: 2rem;
  color: #EFEFEF; }
section h1 {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: .2rem;
  color: #AAAAAA; }
section h2 {
  font-size: 1.72rem;
  letter-spacing: .16rem;
  color: #EFEFEF; }
  section h2 span {
    color: #2278AB; }
section h3 {
  font-size: 1.2rem;
  color: #001623;
  font-weight: 500; }
section.section-1 h1 {
  font-size: 2.8rem;
  font-weight: 500;
  text-shadow: 0 2px 6px #2278AB;
  color: #fff;
  padding-bottom: .7rem; }
section.section-1 p {
  font-size: 1rem;
  text-shadow: 0 2px 5px #2278AB; }
section.section-1 .mobile-bg {
  display: none; }
section.section-3 .introBox {
  padding-right: 10px;
  padding-left: 10px; }
  section.section-3 .introBox h3 {
    padding: 12px 0;
    margin-top: 26px; }
  section.section-3 .introBox p {
    font-size: 0.8rem;
    line-height: 1.2rem;
    color: #767370;
    font-weight: 500; }
section.section-4 h1 {
  color: #CCCCCC; }
section.section-4 .introBox h3 {
  color: #2D2D39;
  font-size: .93333rem; }
section.section-4 .introBox p {
  color: #767370;
  font-size: 0.8rem;
  line-height: 1.333rem; }
section.section-5 h2 {
  color: #023654; }
section.section-5 p {
  color: #2D2D39;
  line-height: 1.5rem;
  font-size: .95rem;
  font-weight: 500; }
@media only screen and (max-width: 1024px) {
  section.section-5 p {
    font-size: .85rem; } }
@media only screen and (max-width: 768px) {
  section.section-3 .introBox h3 {
    margin-top: 15px; } }
@media only screen and (max-width: 576px) {
  section.section-1 h1 {
    font-size: 2rem;
    font-weight: 600;
    padding-bottom: 3rem; }
  section.section-1 p {
    padding-left: 3rem;
    padding-right: 3rem; } }

header {
  width: 100%;
  background: #F8F8F8;
  text-align: center;
  position: fixed;
  z-index: 999; }
  header section {
    padding: 0; }
  header a {
    font-size: 0.96rem;
    color: #2278AB !important;
    padding: 0 30px;
    height: 80px;
    line-height: 80px;
    font-family: 'open sans'; }
  @media only screen and (max-width: 768px) {
    header .navbar .navbar__toggler {
      top: 20px;
      right: 20px;
      color: #2F80AF;
      background: #DCDDDD;
      border-radius: 6px;
      z-index: 999; }
    header .navbar .navbar__nav {
      padding-left: 0;
      transition: all .3s ease-out;
      position: absolute;
      z-index: 99;
      top: 80px;
      opacity: 0;
      height: 0;
      visibility: visible;
      overflow: hidden; }
      header .navbar .navbar__nav .navbar__item a {
        width: 100%;
        text-align: center; }
    header .navbar .navbar__toggler--active + .navbar__nav {
      visibility: visible;
      opacity: 1;
      height: 330px; } }
  @media only screen and (max-width: 576px) {
    header .navbar .navbar__brand {
      text-align: left; }
      header .navbar .navbar__brand img {
        width: auto; }
    header .navbar .navbar__toggler {
      top: 20px;
      right: 20px; }
    header .navbar .navbar__nav {
      top: 80px; }
      header .navbar .navbar__nav .navbar__item a {
        line-height: 40px;
        height: 40px; }
    header .navbar .navbar__toggler--active + .navbar__nav {
      visibility: visible;
      opacity: 1;
      height: 250px; } }

main {
  position: relative; }
  main section {
    padding: 80px 100px;
    position: relative;
    text-align: center; }

footer {
  background: #2278AB;
  background-image: url("../images/footer_bg2.png"); }
  footer p {
    color: #EFEFEF;
    padding: 0;
    margin: 0;
    opacity: .9;
    font-size: .8rem;
    line-height: 1.3rem; }
  footer section {
    padding: 0; }

img {
  width: 100%; }

.navbar {
  height: auto; }
  .navbar .navbar__brand img {
    height: 80px;
    padding: 22px 10px; }
  .navbar .navbar__body {
    line-height: auto; }
  .navbar .navbar__nav {
    padding-left: 0px;
    float: left; }

main section .section-h1, main section .section-h2, main section .section-p1 {
  opacity: 0; }
main section .section-h2 {
  animation-delay: 0.4s; }
main section .section-p1 {
  animation-delay: 0.8s; }
main section.section-1 {
  padding: 0;
  height: auto;
  z-index: 3;
  animation-duration: .3s; }
main section.section-2 {
  background-image: url("../images/crop_main1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;
  z-index: 2;
  height: 840px;
  padding-top: 360px;
  margin-top: -260px; }
main section.section-3 {
  background: #FAFAFA;
  padding-top: 10px;
  padding-bottom: 60px; }
main section.section-4 {
  background-image: url("../images/crop_main2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: right;
  background-position-y: top;
  padding-top: 110px;
  padding-bottom: 110px; }
main section.section-5 {
  background-image: url("../images/footer_bg1.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 90px;
  padding-bottom: 90px; }
  main section.section-5 .header {
    margin-bottom: 20px; }
  main section.section-5 .introBox {
    margin-bottom: 20px; }
main .section-1 .info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  main .section-1 .info h1 {
    animation-delay: .2s;
    animation-duration: 1.2s; }
  main .section-1 .info p {
    animation-delay: .4s;
    animation-duration: 1.5s; }
  main .section-1 .info .s1-icon {
    width: 50px;
    padding-top: 60px;
    opacity: 0;
    animation-delay: 1s;
    animation-duration: 1.5s;
    cursor: pointer; }
main .section-3 .introBox {
  opacity: 0;
  padding-right: 28px !important;
  padding-left: 28px !important; }
  main .section-3 .introBox:nth-child(2) {
    animation-delay: .3s;
    animation-duration: 1s; }
  main .section-3 .introBox:nth-child(3) {
    animation-delay: .7s;
    animation-duration: 1s; }
  main .section-3 .introBox:nth-child(4) {
    animation-delay: 1.1s;
    animation-duration: 1s; }
main .section-4 .intro {
  margin-bottom: 30px; }
main .section-4 .introBox {
  opacity: 0; }
  main .section-4 .introBox > div {
    box-shadow: 4px 4px 26px #023654; }
  main .section-4 .introBox:nth-child(2) {
    animation-delay: .2s; }
  main .section-4 .introBox:nth-child(3) {
    animation-delay: .4s; }
  main .section-4 .introBox:nth-child(4) {
    animation-delay: .6s; }
  main .section-4 .introBox:nth-child(5) {
    animation-delay: .8s; }
  main .section-4 .introBox > div {
    margin: 0px !important; }
    main .section-4 .introBox > div img {
      width: 100%;
      margin: -1px; }
    main .section-4 .introBox > div .cover {
      display: inline;
      width: 40%;
      padding: 0;
      overflow: hidden; }
    main .section-4 .introBox > div .content {
      display: inline;
      width: 60%;
      padding-left: 20px;
      padding-top: 20px; }
main .section-4 p {
  animation-delay: .8s; }
main .section-5 .introBox {
  margin-bottom: 10px; }
  main .section-5 .introBox .cover,
  main .section-5 .introBox .content {
    display: inline-block;
    float: left;
    height: 60px;
    line-height: 60px; }
  main .section-5 .introBox .cover {
    margin-right: 30px;
    text-align: left; }
    main .section-5 .introBox .cover img {
      width: auto;
      height: 50px; }
  main .section-5 .introBox .content {
    padding-top: 2px; }
    main .section-5 .introBox .content p {
      text-align: left;
      padding: 0;
      margin: 0; }
  main .section-5 .introBox:nth-child(1) {
    opacity: 0;
    animation-delay: .4s; }
  main .section-5 .introBox:nth-child(2) {
    opacity: 0;
    animation-delay: .7s; }
  main .section-5 .introBox:nth-child(3) {
    opacity: 0;
    animation-delay: 1s; }
main .section-5 .album {
  animation-delay: 1.3s; }

.album {
  max-width: 800px;
  height: 300px;
  overflow: hidden;
  position: relative; }
  .album img {
    vertical-align: middle;
    height: 110%;
    width: auto; }

.mySlides {
  visibility: hidden;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 1s ease-out; }
  .mySlides.active {
    transition-delay: 2s;
    transition: opacity 2s ease-out;
    visibility: visible;
    opacity: 1; }

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
  max-width: 800px;
  height: 300px;
  right: 0;
  background: rgba(255, 255, 255, 0.4); }

/* Next & previous buttons */
.prev, .next {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: rgba(34, 121, 171, 0.632);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none; }

.prev {
  left: 0; }

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px; }

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  color: rgba(34, 121, 171, 0.3); }

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center; }

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0; }

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s; }

.point {
  position: absolute;
  bottom: 10px;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%); }

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 4px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; }

.active, .dot:hover {
  background-color: #2278AB; }

@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }
@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next, .text {
    font-size: 11px; } }
@media only screen and (max-width: 320px) {
  .navbar .navbar__head {
    padding: 0px; }
  .navbar .navbar__brand {
    padding: 0px; } }

@media only screen and (max-width: 1024px) {
  main section {
    padding: 60px 30px; }
    main section.section-1 {
      height: 900px;
      background-image: url("../images/header_bg.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position-x: -300px; }
      main section.section-1 .section-1-bg {
        display: none; }
    main section.section-4 .introBox > div {
      margin: 0px !important; }
      main section.section-4 .introBox > div .cover {
        width: 38%;
        padding: 0;
        overflow: hidden;
        height: 200px; }
        main section.section-4 .introBox > div .cover img {
          height: 100%;
          width: auto;
          margin: 0; }
      main section.section-4 .introBox > div .content {
        width: 62%;
        padding-left: 10px;
        padding-top: 10px; } }
@media only screen and (max-width: 768px) {
  main section {
    padding: 60px 30px; }
    main section.section-1 .section-1-bg {
      display: none; }
    main section.section-3 .introBox {
      padding-right: 12px !important;
      padding-left: 12px !important; }
    main section.section-4 .introBox {
      margin-bottom: 20px; }
    main section.section-4 .introBox > div .cover {
      height: 200px; }
      main section.section-4 .introBox > div .cover img {
        height: auto;
        width: 100%;
        margin: -1px; }
    main section.section-4 .introBox > div .content {
      padding-left: 20px;
      padding-right: 20px; }
    main section.section-4 .introBox > div h3 {
      font-size: 1.08rem; }
    main section.section-5 .album, main section.section-5 .slideshow-container {
      width: 100%; }
    main section.section-5 .introBox {
      text-align: center; }
    main section.section-5 .contact-info {
      margin-top: 20px;
      padding-left: 25% !important; } }
@media only screen and (max-width: 576px) {
  main section {
    padding: 0; }
    main section.section-1 {
      height: auto;
      background-image: none;
      height: auto; }
      main section.section-1 .section-1-bg {
        display: block; }
      main section.section-1 picture {
        display: block; }
        main section.section-1 picture source, main section.section-1 picture img {
          width: 100%;
          display: block; }
    main section.section-2 {
      padding-top: 0;
      padding-bottom: 0;
      margin: 0;
      margin-top: -2px;
      height: auto;
      background-image: none; }
      main section.section-2 .mobile-section-bg {
        display: block;
        position: relative;
        top: 0;
        left: 0; }
      main section.section-2 .content {
        position: absolute;
        top: 0;
        left: 0;
        padding-top: 60px; }
    main section.section-3 {
      padding: 3rem 4rem;
      margin-top: 0; }
      main section.section-3 .section-h2 {
        margin-bottom: 2rem; }
      main section.section-3 .introBox p {
        padding: 0 2rem;
        padding-bottom: 3rem; }
    main section.section-4 {
      background-image: url("../images/mobile/main03.png");
      background-repeat: no-repeat;
      background-size: cover;
      margin-top: -3rem;
      padding-left: 2.5rem;
      padding-right: 2.5rem; }
      main section.section-4 .section-p1 {
        padding-left: .8rem;
        padding-right: .8rem; }
      main section.section-4 .introBox {
        margin-bottom: 20px;
        padding: 15px; }
        main section.section-4 .introBox > div .cover {
          height: 200px; }
          main section.section-4 .introBox > div .cover img {
            height: 100%;
            margin: 0;
            width: auto; }
        main section.section-4 .introBox > div h3 {
          font-size: .9rem; }
        main section.section-4 .introBox > div p {
          font-size: .7rem; } }
@media only screen and (max-width: 426px) {
  main section {
    padding-left: 0;
    padding-right: 0; }
    main section.section-1 {
      padding-top: 80px; }
      main section.section-1 .info {
        padding-top: 60px; }
        main section.section-1 .info p {
          padding-left: 1rem;
          padding-right: 1rem; }
    main section.section-2 {
      padding-top: 0;
      margin-top: -1px; }
      main section.section-2 .content {
        padding-top: 40px; }
    main section.section-3 .introBox h3 {
      font-size: 1rem; }
    main section.section-4 {
      padding-left: 1.6rem;
      padding-right: 1.6rem; }
      main section.section-4 .introBox > div .content {
        padding: .7rem; }
      main section.section-4 .introBox > div .cover {
        height: 10rem; }
    main section.section-5 .contact-info {
      padding-left: 15% !important; }
    main section.section-5 .album {
      height: 13rem; }
      main section.section-5 .album img {
        height: 100%; }
      main section.section-5 .album .slideshow-container {
        height: 13rem; } }
@media only screen and (max-width: 320px) {
  main section.section-1 .info {
    padding-top: 70px; }
    main section.section-1 .info h1 {
      padding-bottom: 2rem; }
    main section.section-1 .info p {
      padding-left: 0;
      padding-right: 0; }
  main section.section-2 .content {
    padding-top: 20px; } }

/*# sourceMappingURL=style.css.map */
